<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Arrow</title>
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/jongani.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/angular.min.js"></script>            
        <script>
        var angscope;
        var lastsent = '';
          var socket = io.connect('http://localhost');
          
          socket.on('news', function (data) {            
            console.log(data);
            socket.emit('my other event', { my: 'data' });
          });

          socket.on('incoming', function (data) {
            angscope.todoText = data.textinc;
            angscope.incoming = data.textinc;
            angscope.$apply();
            console.log(data);
          });



          function arrowapp($scope) {
            angscope = $scope;
  $scope.todos = [
    {text:'learn angular', done:true},
    {text:'build an angular app', done:false}];
 
  $scope.addTodo = function() {
    $scope.todos.push({text:$scope.todoText, done:false});
    $scope.todoText = '';
  };
 
  $scope.remaining = function() {
    console.log($scope.todoText)
    angscope.yourName = $scope.todoText;
    if ($scope.todoText != lastsent) {
      socket.emit('my other event', { my: $scope.todoText });  
      lastsent = $scope.todoText
    }   


    var count = 0;
    angular.forEach($scope.todos, function(todo) {
      count += todo.done ? 0 : 1;
    });
    return count;
  };
 
  $scope.archive = function() {
    var oldTodos = $scope.todos;
    $scope.todos = [];
    angular.forEach(oldTodos, function(todo) {
      if (!todo.done) $scope.todos.push(todo);
    });
  };
}
        </script>
    </head>
    <body ng-controller="arrowapp">
    node server.

    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>


<h2>Todo</h2>
    <div>
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
    <div>
      <p>{{incoming}}</p>
    </div>
    </body>
</html>
